
@{
    ViewData["Title"] = "Details";
}

@model TestProject.Models.Team
@{
    ViewBag.Title = Model.GroupName;
}
<h2>Группа - @Model.GroupName</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Учитель</dt>
        <dd>@Model.Teacher</dd>

        <dt>Число студентов</dt>
        <dd>@Model.Number</dd>
    </dl>
</div>
<p class="nav-item">
<p style="text-align: center">
    <button align="center"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tempor">Назад</a></button>
</p>
    </p>
