@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    #cool {
        border: 1px solid black;
        padding: 10px;
    }
</style>
<div id="cool" class="text-center">
    <h1 class="display-6">Создать учебную группу</h1>
    <p>
        <big>Преподаватель</big><br>
        <select>
            <option>Пункт 1</option>
            <option>Пункт 2</option>
            <option>Пункт 3</option>
        </select><br>
        <big>Название группы</big><br>
        <input type="text" size="20">
    </p>
</div>
<p class="nav-item">
<p style="text-align: center">
    <button align="center"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Redacting">Создать учебную группу</a></button>
</p>
    </p>
