@{
    ViewData["Title"] = "Redacting";
}
<style>
    #cool2 {
        border: 1px solid black;
        padding: 10px;
    }
</style>
<div id="cool2" class="text-center">
    <h1 class="display-6">Создать учебную группу</h1>
    <p>
        <big>Преподаватель - </big> <br>
        <big>Название группы</big><br>
        <input type="text" size="20">
    <p class="nav-item">
    <p style="text-align: center">
        <button align="center"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Redacting">Сохранить</a></button>
    </p>
    </p>
    <table border="1" , align="center" cellpadding="15">
        <tr>
            <td>Студент</td>
            <td>Организация</td>
            <td></td>
        </tr>
        <tr>
            <td>Тут будет студент</td>
            <td>Тут будет организация</td>
            <td>Тут будет Редактирование</td>
        </tr>
    </table>
    </p>
</div>
<p class="nav-item">
<p style="text-align: center">
    <button align="center"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Student">Добавить студента</a></button>
</p>
    </p>
