
@{
    ViewData["Title"] = "Student";
}

<style>
    #cool3 {
        border: 1px solid black;
        padding: 10px;
    }
</style>
<div id="cool3" class="text-center">
    <h1 class="display-6">Добавить студента</h1>
    <p>
        <big>Студент -</big><br>
        <big>Группа -</big><br>
        Организация <select>
            <option>Пункт 1</option>
            <option>Пункт 2</option>
            <option>Пункт 3</option>
        </select><br>
        Сотрудник <select>
            <option>Пункт 1</option>
            <option>Пункт 2</option>
            <option>Пункт 3</option>
        </select><br>
    </p>
</div>
<p class="nav-item">
<p style="text-align: center">
    <button align="center"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Redacting">Добавить студента в группу</a></button>
</p>
    </p>
