
@{
    ViewData["Title"] = "TestView";
}
@model IEnumerable<TestProject.Models.Team>
<h1>TestView</h1>
<table border="1" , align="center" cellpadding="15">
    @foreach (var iteme in Model)
    {
        <tr>
            <td>@iteme.GroupName</td>
            <td>@iteme.Teacher</td>
            <td>@iteme.Number</td>
        </tr>
    }
</table>
