
@{
    ViewData["Title"] = "GroupCreate";
}

@model SecondProject.Models.Group

<form asp-action="create" asp-controller="Home">
    <div class="form-group">
        <label asp-for="GroupName" class="control-label">Группа</label>
        <input type="text" asp-for="GroupName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Teacher" class="control-label">Учитель</label>
        <input type="text" asp-for="Teacher" class="form-control" />
    </div>
        <div class="form-group">
        <input align="center" type="submit" value="Добавить" class="btn btn-default" />
    </div>
</form>
